<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>VitaLinker</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSExceptionDomains</key>
		<dict>
			<key>localhost</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>UIAppFonts</key>
	<array>
		<string>RobotoBlack-Powx.ttf</string>
		<string>RobotoBlackItalic-LmMD.ttf</string>
		<string>RobotoBold-Xdoj.ttf</string>
		<string>RobotoBoldCondensed-gmVP.ttf</string>
		<string>RobotoBoldCondensedItalic-o38a.ttf</string>
		<string>RobotoBoldItalic-4e0x.ttf</string>
		<string>RobotoCondensed-0GXR.ttf</string>
		<string>RobotoCondensedItalic-e5A6.ttf</string>
		<string>RobotoItalic-W0gE.ttf</string>
		<string>RobotoLight-aW3R.ttf</string>
		<string>RobotoLightItalic-E9nn.ttf</string>
		<string>RobotoMedium-Owv4.ttf</string>
		<string>RobotoMediumItalic-ZW0m.ttf</string>
		<string>RobotoRegular-3m4L.ttf</string>
		<string>RobotoThin-xjmK.ttf</string>
		<string>RobotoThinItalic-pqYK.ttf</string>
	</array>
</dict>
</plist>
